<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrate</title>
 



</head>
<style>
  *, *:before, *:after {
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
}

body {
  background:  #f9fff2;
  font-family: 'Titillium Web', sans-serif;
}

a {
  text-decoration: none;
  color: #000000;
  font-weight: bolder;
  transition: .5s ease;
}
a:hover {
  color: #A2C57C;
}

.form {
  background:  #ffffff;
  padding: 50px 60px;
  max-width: 500px;
  margin: 10px auto;
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}

.tab-group {
  list-style: none;
  border-radius:6px;
  padding: 0;
  margin: 0 0 40px 0;
}
.tab-group:after {
  content: "";
  display: table;
  clear: both;
}
.tab-group li a {
  display: block;
  text-decoration: none;
  border-radius:4px;
  padding: 15px;
  background: rgba(160, 179, 176, 0.25);
  color: #1e2423;
  font-size: 20px;
  float: left;
  width: 50%;
  text-align: center;
  cursor: pointer;
  transition: .5s ease;
}
.tab-group li a:hover {
  background: #A2C57C;
  color: #000000;
}
.tab-group .active a {
  background: #A2C57C;
  color: #000000;
}

.tab-content > div:last-child {
  display: none;
}

::placeholder {
  position: absolute;
  left: 13px;
  color: #555454;
  transition: all 0.25s ease;
  /* -webkit-backface-visibility: hidden; */
  pointer-events: none;
  font-size: 16px;
  padding-left: -10px;

}

h1 {  
  font-size: 36px;
  text-align: center;
  color: #000000;
  font-weight: 700;
  margin: 0 0 20px;
}

h2 {
    text-align: center;
    color: #000000;
    font-weight: 100;
    margin: 0 0 40px;
}

label {
  position: absolute;
  transform: translateY(16px);
  left: 13px;
  padding-left: 10px;
  color: #555454;
  transition: all 0.25s ease;
  /* -webkit-backface-visibility: hidden; */
  pointer-events: none;
  min-height: 500px;
  font-size: 16px;
}
label .req {
  margin: 2px;
  color: #a2c57c3a;
}

label.active {
  transform: translateY(50px);
  left: 2px;
  font-size: 14px;
}
label.active .req {
  opacity: 0;
}

label.highlight {
  color: #000000;
}

input, textarea {
  font-size: 18px;
  display: block;
  width: 100%;
  height: 100%;
  padding: 14px 20px;
  min-height: 50px;
  background: none;
  background-image: none;
  border: 1px solid #a0b3b0;
  color: #000000;
  border-radius: 5px;
  transition: border-color .25s ease, box-shadow .25s ease;
}
input:focus, textarea:focus {
  outline: 0;
  border-color: #A2C57C;
}

textarea {
  border: 2px solid #a0b3b0;
  resize: vertical;
}

.field-wrap {
  position: relative;
  margin-bottom: 20px;
}

.top-row:after {
  content: "";
  display: table;
  clear: both;
}
.top-row > div {
  float: left;
  width: 48%;
  margin-right: 4%;
}
.top-row > div:last-child {
  margin: 0;
}

.button {
  border: 15px;
  outline: none;
  border-radius: 0;
  padding: 150px;
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: .1em;
  background: #A2C57C;
  color: #000000;
  transition: all 0.5s ease;
  -webkit-appearance: none;
}
.button:hover, .button:focus {
  background: #A2C57C;
}

.button-block {
    padding: 18px 20px;
    letter-spacing: 1px;
    text-decoration: none;
    border-radius: 5px;
    color: #ffffff;
    outline: none;
    border: 1px solid #ffffff;
    transition: .3s;
    -webkit-transition: .3s;
  display: block;
  width: 100%;
}

.forgot {
  margin-top: -10px;
  text-align: right;
}

</style>

<script>
$('.form').find('input, textarea').on('keyup blur focus', function (e) {
  
  var $this = $(this),
      label = $this.prev('label');

    if (e.type === 'keyup') {
      if ($this.val() === '') {
          label.removeClass('active highlight');
        } else {
          label.addClass('active highlight');
        }
    } else if (e.type === 'blur') {
      if( $this.val() === '' ) {
        label.removeClass('active highlight'); 
      } else {
        label.removeClass('highlight');   
      }   
    } else if (e.type === 'focus') {
      
      if( $this.val() === '' ) {
        label.removeClass('highlight'); 
      } 
      else if( $this.val() !== '' ) {
        label.addClass('highlight');
      }
    }

});

</script>
<script type="text/javascript">
  function permitir(elEvento, permitidos) {
    // Variables que definen los caracteres permitidos
    var numeros = "0123456789";
    var caracteres =
      " abcdefghijklmnñopqrstuvwxyzABCDEFGHIJKLMNÑOPQRSTUVWXYZ";
    var numeros_caracteres = numeros + caracteres;
    var teclas_especiales = [8, 37, 39, 46];
    // 8 = BackSpace, 46 = Supr, 37 = flecha izquierda, 39 = flecha derecha

    // Seleccionar los caracteres a partir del parámetro de la función
    switch (permitidos) {
      case "num":
        permitidos = numeros;
        break;
      case "car":
        permitidos = caracteres;
        break;
      case "num_car":
        permitidos = numeros_caracteres;
        break;
    }

    // Obtener la tecla pulsada
    var evento = elEvento || window.event;
    var codigoCaracter = evento.charCode || evento.keyCode;
    var caracter = String.fromCharCode(codigoCaracter);

    // Comprobar si la tecla pulsada es alguna de las teclas especiales
    // (teclas de borrado y flechas horizontales)
    var tecla_especial = false;
    for (var i in teclas_especiales) {
      if (codigoCaracter == teclas_especiales[i]) {
        tecla_especial = true;
        break;
      }
    }
    // Comprobar si la tecla pulsada se encuentra en los caracteres permitidos
    // o si es una tecla especial
    return permitidos.indexOf(caracter) != -1 || tecla_especial;
  }

  function mail() {
    valor = document.getElementById("correo").value;
    if (!/\w+([-+.']\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)/.test(valor)) {
      alert("El campo debe ser un correo electronico");
      return false;
    }
  }

  function validacion() {
    valor = document.getElementById("nombree").value;
    valor1 = document.getElementById("correo").value;
    if (valor == null || valor.length == 0 || /^\s+$/.test(valor)) {
      alert("[ERROR] Escriba su nombre");
      return false;
    } else if (
      valor1 == null ||
      valor1.length == 0 ||
      /^\s+$/.test(valor1)
    ) {
      alert("[ERROR] Escriba su email");
      return false;
    }
    location.href = "formulario.html";
  }

  function verificarPasswords() {
    // Ontenemos los valores de los campos de contraseñas 
    pass1 = document.getElementById('pass1');
    pass2 = document.getElementById('pass2');
    if (pass1.value != pass2.value) {
      // Si las constraseñas no coinciden mostramos un mensaje 
      alert("Las contraseñas NO coinciden!");
      return false;
      }
   }

</script>

<body>
<form action="/validate" method="post">
    <div class="form">

         <ul class="tab-group">
            <li class="tab"><a href="/login">Iniciar Sesion</a></li>
            <li class="tab active"><a href="/signup">Paciente Nuevo</a></li>
          </ul>
          <div id="signup">   
            <h1>Registrate</h1>
            <!-- <img style="display: block; margin: auto; padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left); cursor: zoom-in;" src="/img/dentelle logotipo.jpg" width="100" height="100"> -->
            <h2>Bienvenid@!</h2>
            <form action="/" method="post">    
              <div class="field-wrap">
                <input type="text" onkeypress="permitir(event,'car')" placeholder="Nombre(s)" name = "names" required autocomplete="off" />
              </div>
          
              <div class="field-wrap">

                <input type="text" onkeypress="permitir(event,'car')" placeholder="Apellidos" name = "lastnames" required autocomplete="off"/>
              </div>
  
            <div class="field-wrap">
              <label style="margin-left: -6px;">Sexo:</label>
              <select id="sexo" name="sex" style="height: 40px; border-radius: 5px; padding-right:200px ; margin-top: 11px; margin-left:90px; font-size: 15px;">
                <option value="Femenino">Femenino</option>
                <option value="Masculino">Masculino</option>
              </select>
            </div><br>


            <div class="field-wrap">
              <label style="transform: translateY(14px);">Fecha de Nacimiento</label>
              <input type="date" id="fechanac" name= "birthdate" value="01-01-2000" style="text-align: right; font-size: 14px; padding-right: 15px;" required>
            </div>
        

            <div class="field-wrap">
              <input type="email" id="correo" name = "email" placeholder="Email" onchange="mail()" required autocomplete="off"/>
            </div>
            
            <div class="field-wrap">
              <input type="tel" name = "celphone" placeholder="Celular" required autocomplete="off"/>
            </div><br><br><br>

            <h2 style="text-align:left; margin-left: 15px; font-weight: bold;">Crea tu Usuario</h2>

            <div class="field-wrap">
              <label>
              <span class="req">*</span>
              </label>
              <input type="text" placeholder="Usuario" name ="username" id="user" required autocomplete="off"/>
            </div>
            
            <div class="field-wrap">
              <label>
              <span class="req">*</span>
              </label>
              <input type="password" placeholder="Contraseña" name = "password" id="pass1" autocomplete="off"/>
            </div>

         <div class="field-wrap">
          <label>
          <span class="req">*</span>
          </label>
          <input type="password" placeholder="Confirmar Contraseña" name = "pass2" id="pass2" onchange="verificarPasswords()" autocomplete="off"/>
        </div>
     <br>

            <button type="submit" class="button button-block">Registrarse</button>
          <p style="font-size: 12px; text-align: right; margin-right: 20px;">¿Ya tienes una cuenta? <a href="/login">Inicia Sesión</a></p>
          </div>                  
        </form> <!-- /form -->
  

</body>

</html>
