<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Status Covid</title>
</head>
<style>
  *, *:before, *:after {
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
}

body {
  background: #f9fff2;
  font-family: 'Titillium Web', sans-serif;
}

a {
  text-decoration: none;
  color: #A2C57C;
  transition: .5s ease;
}
a:hover {
  color: #A2C57C;
}

input[type="radio"] {
 margin-left:10px; 
 transform: translateY();
}

.form {
  background:  #ffffff;
  padding: 45px 30px;
  max-width: 450px;
  margin: 20px auto;
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}

.form2 {
  background:  #f1f1f1;
  transform: translateY(-20px);
  padding: 6px 40px 10px 20px;
  max-width: 450px;
  max-height: 455px;
  margin: 30px auto;
  border-radius: 4px;
  
}

.tab-group {
  list-style: none;
  border-radius:6px;
  padding: 0;
  margin: 0 0 40px 0;
}
.tab-group:after {
  content: "";
  display: table;
  clear: both;
}
.tab-group li a {
  display: block;
  text-decoration: none;
  border-radius:4px;
  padding: 15px;
  background: rgba(160, 179, 176, 0.25);
  color: #1e2423;
  font-size: 20px;
  float: left;
  width: 50%;
  text-align: center;
  cursor: pointer;
  transition: .5s ease;
}
.tab-group li a:hover {
  background: #A2C57C;
  color: #000000;
}
.tab-group .active a {
  background: #A2C57C;
  color: #000000;
}

.tab-content > div:last-child {
  display: none;
}

::placeholder {
  position: absolute;
  left: 13px;
  color: #555454;
  transition: all 0.25s ease;
  /* -webkit-backface-visibility: hidden; */
  pointer-events: none;
  font-size: 16px;
}

h1 {  
  font-size: 36px;
  text-align: center;
  color: #000000;
  font-weight: 700;
  margin: 0 0 20px;
}

h2 {
    text-align: left;
    color: #000000;
    font-weight: 100;
    margin: 0 10px 20px;
}

p{
  margin-bottom: 5px;
  margin-left: 7px;
}

label {
  position: relative;
  transform: translateY(-10px);
  top: 1.5px;
  left: 10px;
  color: #000000;
  transition: all 0.25s ease;
  /* -webkit-backface-visibility: hidden; */
  pointer-events: none;
  font-size: 15px;
}
label .req {
  margin: 2px;
  color: #a2c57c3a;
}

label.active {
  transform: translateY(50px);
  left: 2px;
  font-size: 14px;
}
label.active .req {
  opacity: 0;
}

label.highlight {
  color: #000000;
}


.field-wrap {
  position: relative;
  margin-bottom: 20px;
}

.top-row:after {
  content: "";
  display: table;
  clear: both;
}
.top-row > div {
  float: left;
  width: 48%;
  margin-right: 4%;
}
.top-row > div:last-child {
  margin: 0;
}

.button {
  border: 15px;
  outline: none;
  border-radius: 0;
  padding: 150px;
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: .1em;
  background: #A2C57C;
  color: #000000;
  transition: all 0.5s ease;
  -webkit-appearance: none;
}
.button:hover, .button:focus {
  background: #A2C57C;
}

.button-block {
    padding: 18px 20px;
    letter-spacing: 1px;
    transform: translateY(20px);
    text-decoration: none;
    border-radius: 5px;
    color: #ffffff;
    outline: none;
    border: 1px solid #A2C57C;
    transition: .3s;
    -webkit-transition: .3s;
  display: block;
  width: 100%;
}

</style>

<script>

function validacion() {
        valor = document.getElementById("user").value;
        valor1 = document.getElementById("pass").value;
        if (valor == null || valor.length == 0 || /^\s+$/.test(valor)) {
          alert("Escriba su nombre de usuario");
          return false;
        } else if (valor1 == null || valor1.length == 0 || /^\s+$/.test(valor1)) {
          alert("Escriba la contraseña");
          return false;
        }
        location.href = "";
      }

</script>

<body>
    <div class="form">
          <div id="servicio">   
           <h1>Covid-19</h1>
             <br><h2>¿ En los ultimos 15 dias:</h2>
             <form class="form2" action="/revision" method= "post">
              <p>Se ha realizado la prueba Covid?</p>
              <input type="radio" id="si1" name="pregunta1" value="Si">
              <label for="si1">Si</label><br>
              <input type="radio" id="no1" name="pregunta1" value="No">
              <label for="no1">No</label><br>
              <p>La prueba salio positiva?</p>
              <input type="radio" id="si2" name="pregunta2" value="Si">
              <label for="si1">Si</label><br>
              <input type="radio" id="no2" name="pregunta2" value="No">
              <label for="no2">No</label><br>
              <p>Ha tenido sintomas?</p>
              <input type="radio" id="si3" name="pregunta3" value="Si">
              <label for="si3">Si</label><br>
              <input type="radio" id="no3" name="pregunta3" value="No">
              <label for="no3">No</label><br>
              <p>Vive con algun familiar contagiado?</p>
              <input type="radio" id="si4" name="pregunta4" value="Si">
              <label for="si4">Si</label><br>
              <input type="radio" id="no4" name="pregunta4" value="No">
              <label for="no4">No</label><br>
              <p>Sospechó que usted es portador de covid?</p>
              <input type="radio" id="si4" name="pregunta5" value="Si">
              <label for="si4">Si</label><br>
              <input type="radio" id="no4" name="pregunta5" value="No">
              <label for="no4">No</label><br>
              <br>
            <input type="submit" class="button button-block" value="Guardar Cuestionario">
        </form>
        <br>
  </div> <!-- /form -->
  
</body>

</html>
